$bp-large: 78.15em; // 1250px
$bp-medium: 61.25em; // 980px
$bp-small: 37.5em; // 600px
$bp-smallest: 31.25em; // 500px

$color-primary: #b88e2f;
$color-grand-3: #6f5414;
$color-grand-1: #f9f1e7;
$color-grand-2: #fff3e3;
$color-card: #f4f5f7;
$color-gray-1: #333333;
$color-gray-2: #3a3a3a;
$color-gray-3: #898989;
$color-gray-4: #9f9f9f;
$color-gray-5: #d9d9d9;
$color-dark: #000000;
$color-white: #ffff;
$font-Montserrat: "Montserrat";
$font-Poppins: "Poppins";
